<!DOCTYPE html>
<html>
  <head>
    <title>Arcade</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <% include templates/nav.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs %>
  	<div class = "page-wrapper">
	    <h2>Select a Game Mode</h2>

		<a href= "/round_robin"><section class="cf-arcade-1">
			<h2>Round Robin</h2>
			<p>Play against all other AI's to see how well your AI does in a game of Connect Four. You may also submit your code to update your spot on the Leaderboards (you <i>MUST BE LOGGED IN</i> to submit your code).</p>
		</section></a>
		<section class="cf-arcade">
			<h2>More Modes Coming Soon</h2>
			<p>Thank you for trying out Bot Brigade!</p>
		</section>
	</div>
<% include templates/footer.ejs %>
  </body>
</html>
