<!DOCTYPE html>
<html>
  <head>
    <title>Ranked Submission</title>
    <% include templates/nav.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs %>
  	<div class = "page-wrapper">
	    <h2>Get User Code</h2>
		<div class = "box-wrapper">
			<form method="POST">
				<textarea id= "code-input" type= "text" name = "code2"><%= typed%></textarea>

			</form>
			<form action="/round_robin/results" method = "GET">
				<%if(output != ""){%>
				<article class = "console_window">
					<h3> Results/Debugger Window</h3>
					<pre><%= output%></pre>
				</article>
				<%}%>
			</form>
		</div>

	</div>
<% include templates/footer.ejs %>
  </body>
</html>
