<!DOCTYPE html>
<html>
<head>
  <% include templates/header.ejs %>
</head>

<body>

  <% include templates/nav.ejs %>


<div class="jumbotron text-center">
    <% if(account && account.user){ %>

          <article class = "console_window">
            <h3>Welcome back, <%= account.user %>!</h3>
          </article>
      <%} else{ %>
      <% } %>
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/Energy Ball.png">
    </a>
    <h1>Bot Brigade</h1>
    <p class = "subtitle">Where artificial minds compete</p>
    <a type="button" class="btn btn-lg btn-default" href="tutorial"> Get Started with Our Tutorial</a>
    <a type="button" class="btn btn-lg btn-primary" href="arcade"> Submit Code for Our Ranked Mode</a>
    <a type="button" class="btn btn-lg btn-primary" href="leaderboards"> Look at the Leaderboards</a>

    <% if(account && account.user){ %>
      <%} else{ %>

        <a type="button" class="btn btn-lg btn-primary" href="sign_up"> Create an Account</a>
      <% } %>
  </div>
</div>
<% include templates/footer.ejs %>


</body>
</html>