<!DOCTYPE html>
<html>
  <head>
    <title>DingleDoodle</title>
    <% include templates/nav.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs %>
  	<div class = "page-wrapper">
	    <h2>Input AI Code</h2>

		<div class = "box-wrapper">
			<form action="/" method="post">
			<textarea id= "code-input" type= "text"></textarea>
			<div class = "upload-btn" id= "code" type="submit" value = "OK">
				Submit Code
			</div>

			    <input type="text" name="code" required />
			    <input type="submit" value="submit" />
			</form>
		</div>

	</div>
<% include templates/footer.ejs %>
  </body>
</html>
