<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboards</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <% include templates/nav.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs %>
  	<div class = "page-wrapper">
	    <h2>Leaderboards</h2>

		<section class="cf-leaderboards">
			<h2>Rankings</h2>
			<ol class = "rankings">
				<% for (i = 0; i < rankings_list.length; i++){%>
				<li>     <%=rankings_list[i]%></li>
				<%}%>
			</ol>
		</section></a>

		<% if(account && account.user){ %>
		
			<article class = "console_window">
				<h3> Your Rank:</h3>
				<p><%=your_rank%>).     <%= account.user%></p>
			</article>
		<% } %>

	</div>
<% include templates/footer.ejs %>
  </body>
</html>
