<!DOCTYPE html>
<html>
  <head>
    <title>DingleDoodle</title>
    <% include templates/nav.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs %>
  	<div class = "page-wrapper">
	    <h2>Input AI Code</h2>

		<div class = "box-wrapper">
			<form action="/input" method="POST">
				<textarea id= "code-input" type= "text" name = "code2"></textarea>
				<div class = "btn-wrapper">
				    <input class = "upload-btn" id= "code" type="submit" value="Submit Code" />
				</div>
			</form>
		</div>

	</div>
<% include templates/footer.ejs %>
  </body>
</html>
