<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial Select</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs %>
    <h2>Select a Tutorial</h2>
    <p>Tooty Fruity</p>
  </body>
</html>
