.jumbotron {
  background: #EBECFC;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #0D1421;
    border-color: #0D1421; }
    .jumbotron .btn-primary:hover {
      background: #354054; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; 
    background-color: #719AA6;}
  .navbar{
    background-color: #0D1421;
  }
  .navbar-nav li:hover{
    background-color: #354054;
  }
  .active{
    color: red;
  }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
.subtitle{
  font-style: italic;
  color: blue;
}

