<div class = "script_text" id= "doodle">
<script>
var arr = ['Welcome to the medium level tutorial for Bot Brigade. \
 This tutorial will show you how to make an artificial intelligence capable of playing Connect 4 using a minimax algorithm and put it against other\'s.', // welcome page
'First, let\'s see how minimax works.', 	// minimax page beginning
'Minimax is a decision-making algorithm that attempts to select the most optimal move within the rules of a game. \
 The implementation of this algorithm is through a tree with nodes. \
 Evaluation of how optimal a move is is based on evaluation “scores” that are assigned based on the current state of the game. \
 Two players, a maximizer and a minimizer, try to search ahead in the tree and evaluate the potential moves of opponents, \
 and ultimately get the highest and lowest scores, respectively. ',
 'In this diagram, each node represents a game state, and each row represents a turn from either the maximizer or minimizer. \
 For the 1st predicted move from the minimizer player, in this example, the player selects the 3 and 4 nodes as potential moves to make, as \
 they are the minimum nodes from the previous available sets. Next, the maximizer picks 4 based on the maximum from the game states made by the minimizer\'s \
 potential moves, namely, the node with a game state value of 4.',	// minimax diagram
 'In the context of a decision-making tree, a node entails a game state that represents a possible move after its parent node. \
 It is these nodes that will be evaluated to give/detract score from the maximizing and minimizing players. \
 Creating a node in JavaScript to represent Connect 4 game states is simple; here is an example code segment.', 	// minimax node
 'With this knowledge in mind, it is helpful to conceptually distinguish between nodes that represent your own moves and nodes that represent your \
 opponent\’s moves. Assuming that the user/caller of the website is the maximizer and any arbitrary opponent is the minimizer, we can represent \
 the user\’s decision nodes as max nodes and the opponent\’s as min nodes. The goal of these nodes are to maximize/minimize the subtree rooted at the node, respectively. \
 Here is an example modification of the last node code.', // minimax min and max nodes
 'The game board is represented as a 6x7 2-dimensional array, each filled with an integer that represents the state of a slot. \
 0 indicates that the slot is empty, 1 indicates that the user’s AI has placed a chip in the slot, and 2 indicates an opposing AI\’s placement.',	// game state representation
 'Now that we know how the game states are represented, we can utilize them to grade them based on their contribution to the player\’s objective. \
 You will create a point-based metric based on these states to tell your artificial intelligence whether a particular move is beneficial or not (and to what extent!). \
 This metric will guide how your AI makes moves and determines if it is winning or not.',	// point-based metric (scoring moves made by AI)
 'In any game, it is imperative to consider future consequences from earlier decisions.\
 Applying this to your artificial intelligence will make it more than “look at potential game states in the next move, grade them, pick the best and move on”.\
 For example, assume a Tic-Tac-Toe game is 3 moves away from being finished by artificially intelligent agents.\
 The first move, made by the maximizer, considers 3 different states, none of which win the game.\
 A very basic AI that doesn’t look ahead will randomly pick a move and end their turn; if it happens that this move causes the minimizer to be able to win the next turn or force the game into a draw at the end,\
 the AI will have missed an opportunity to pick a state that at least makes a win possible. Modify your AI to consider these possible future implications by at least 2 moves from the root node.',	// using metric for future game states
 'Congratulations on developing your AI! Before you can put this AI against other players’, it will first be validated within your starting game state. ',	// AI validation; check AI and use validOrInvalid array for text
 'In order to verify your AI is ready to compete with others’, it will play against a pre-made AI that utilizes greedy search methodology over minimax.\
 Greedy search, for Connect 4 playing purposes, is much weaker and assuming that the minimax AI is correctly designed, should lose more often than not to the minimax-based AI.'];	// array to hold tutorial pages' text
									// arr[0] = welcome page
									// arr[1] = minimax page beginning		
									// arr[3] = minimax diagram
									// arr[4] = minimax node
									// arr[5] = minimax min and max nodes
									// arr[6] = game state representation				
									// arr[7] = point-based metric (scoring moves made by AI)
									// arr[8] = using metric to consider possible future game states (at depth = 2)	
									// arr[9] = AI validation
									// arr[10] = AI verification (play against premade AI)										
									
var tips = ['Tip: if a winning move is possible for the AI, make sure the score given for that game state counts more than scores for any other, non-winning state. ',	// point-based metric tip 1 (easy)
'Something to think about: say you’re playing against someone in a game of Connect 4.\
 If you see a winning move, do you immediately take it, or let the opponent continue to play and potentially take away said winning move? \
 How can you apply this notion to your state scoring system? (Hint: look at the depth of the minimax tree)',	// point-based metric tip 2 (complex)
 'Conceptually speaking, you want to look for the branch(s) of the minimax tree that offer a maximizer win before a minimizer win.\
 Looking ahead in the tree before deciding which branch to attempt to follow will allow for a more powerful and robust artificially intelligent agent that wins games at a much higher rate.',	// using metric for future game states tip
 'Is each element of the game properly represented to the AI?',	// AI validation tip 1
 'Does your AI take proper action based on scores?',	// AI validation tip 2
 'Is your AI correctly checking children nodes for each non-game-ending node?',	// AI validation tip 3
 'Does your AI seek the same type of score (max or min) as the opponent?',	// AI verification tip 1
 'Does your AI check potential moves at least 2 steps ahead from the beginning state?' // AI verification tip 2
 ];
 
var invalidOrValid = ['Your AI has been confirmed as valid; congratulations! Now, you will upload it to our website, where it will be verified and ultimately put against the AIs of other website users.\
 Upload your file containing the AI code before proceeding.',	// valid; if invalid, take tips from tips array
 'Your AI did not have proper output based on the provided game state.'
];	// for AI validation step

var unverifiedOrVerified = ['Congratulations! Your AI design was successful in beating a greedy-search AI and is ready to compete with other players’ AI designs.\
 As is, your AI is more than likely similar to others at your same level. Modify and test different elements of your design and see what leads to better or worse results!\
 When you feel that you have feasibly done everything for minimax search or are simply ready to learn a more advanced concept, you can move on to the next tutorial to learn and implement alpha-beta pruning.',	// verified; note, this assumes alpha-beta pruning is the advanced tutorial
 'Your AI was unable to defeat the greedy-search based AI. Check that all steps of the tutorial are properly followed and implemented in your code.'
];	// for AI verification step; assumes premade testing AI is greed-search based

var i = 0;	// iterator through text array
var j = 0; // iterator through tip array
var x = document.createElement("IMG");
x.setAttribute("id", "img");

function nextItem() {
    document.getElementById("prev_button").disabled = false;	// enable previous button
	
    i = i + 1; 

	// page layout checks
	if (i == arr.length - 1) { // final page; disable and gray next button
		document.getElementById("next_button").disabled = true;
	}
	if(i == 1) {
		document.getElementById("prev_button").disabled = true;
	}
	if (i == 3) { 
		x.setAttribute("src", "/images/minimax.png");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (i == 4) { 
		x.setAttribute("src", "/images/nodeExampleCode.PNG");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (i == 5) { 
		x.setAttribute("src", "/images/minMaxNodesExampleCode.PNG");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (i == 6) { 
		x.setAttribute("src", "/images/exampleGameBoard.PNG");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (document.getElementById("img") != null && (i != 0 && i != 3 && i != 4 && i != 6 && i != 5)){
		document.getElementById("doodle").removeChild(x);
	}
	
    return arr[i]; 
}

function prevItem() {
	document.getElementById("next_button").disabled = false;	// enable next button
	
	i = i - 1; 
    if (i === 0 || i == 1) { 	// welcome page or first page of tutorial; disable previous button, welcome page is only viewed once
		document.getElementById("prev_button").disabled = true;
    }
	if (i == 3) { 
		x.setAttribute("src", "/images/minimax.png");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (i == 4) { 
		x.setAttribute("src", "/images/nodeExampleCode.PNG");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (i == 5) { 
		x.setAttribute("src", "/images/minMaxNodesExampleCode.PNG");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (i == 6) { 
		x.setAttribute("src", "/images/exampleGameBoard.PNG");
		x.setAttribute("width", "30%");
		x.setAttribute("alt", "Diagram");
		document.getElementById("doodle").appendChild(x);
	}
	else if (document.getElementById("img") != null && (i != 0 && i != 3 && i != 4 && i != 6 && i != 5)){
		document.getElementById("doodle").removeChild(x);
	}
	
    return arr[i]; 
}

window.addEventListener('load', function () {	// listen for button clicks amd load initial page
    document.getElementById('output').textContent = arr[0]; // display welcome
	x.setAttribute("src", "/images/connect4.gif");
	x.setAttribute("width", "30%");
	
	x.setAttribute("alt", "Diagram");
	document.getElementById("doodle").appendChild(x);
    document.getElementById('prev_button').addEventListener(
        'click', 
        function (e) { 
            document.getElementById('output').textContent = prevItem();
        }
    );
    
    document.getElementById('next_button').addEventListener(
        'click', 
        function (e) { 
            document.getElementById('output').textContent = nextItem();
        }
    );
});


</script>
<div id="output"></div>

</div>
<div class = "script_buttons">
    <button id="prev_button" disabled>Previous Step</span>
    <button id="next_button">Next Step</span>
</div>