<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/tutorial">Tutorial</a>
      </li>
      <li>
        <a href="/arcade">Arcade</a>
      </li>
      <li>
        <a href="/leaderboards">Leaderboards</a>
      </li>
      <li>
        <a href="#">Upload</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(account && account.user){ %>
      <li class="navbar-right">
        <a href="/leaderboards"> <%= account.user %> </a>
      </li>
      <li class="navbar-right">
        <form action="/logout" method="POST">
              <input class = "logout-btn" id= "code" type="submit" value="Log Out" />
        </form>
      </li>
      <%} else{ %>
      <li class="navbar-right">
        <a href="/sign_up"> Sign Up</a>
      </li>
      <li class="navbar-right">
        <a href="/log_in"> Log In</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>