<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/tutorial"><span class="glyphicon glyphicon-user"></span> Tutorial</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Arcade</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Leaderboards</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Upload</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/sign_up"></span> Sign Up</a>
      </li>
      <li class="navbar-right">
        <a href="/log_in"></span> Log In</a>
      </li>
    </ul>
  </div>
</nav>